body {
   background-color: rgb(26, 26, 32);
   margin: 0;
}

.wrap {
   margin: 10em auto;
   display: flex;
}

.square {
   margin: auto 2em;
   display: flex;
   background-color: rgb(220, 220, 220);
   width: 200px;
   height: 200px;
   border-radius: 25%;
   transition: all 5s;
   justify-content: center;
}

.square:hover {
   transform: rotate(3600deg);
}
