body {
	/*Box model stuff*/
	margin: 0;
	padding: 5em;
	background-color: rgb(26, 26, 32);
	/*Typography stuff*/
	font-family: "Sintony", sans-serif;
	font-weight: 700;
	text-align: center;
	color: rgb(220, 220, 220);
}

h1 {
	/*Box model stuff*/
	margin: 0;
}

p {
	/*Box model stuff*/
	max-width: 60%;
	margin: 2em auto;
}

p::first-line {
	/*Typography stuff*/
	text-shadow: 0px 0px 3px white;
	color: orange;
	/*Miscellaneous*/
	word-spacing: 2em;
	line-height: 2.5em;
}

p::first-letter {
	/*Box model stuff*/
	padding: 0.6em 0.5em;
	background-color: rgb(154, 154, 154);
}

p::before {
	/*Display stuff*/
	content: "♥";
	/*Typography stuff*/
	color: red;
}

p::after {
	/*Display stuff*/
	content: "😎";
}

li::marker {
	/*Typography stuff*/
	color: green;
}

ul {
	/*Box model stuff*/
	margin: auto 20%;
}

li {
	/*Typography stuff*/
	text-align: start;
}

p::selection {
	/*Box model stuff*/
	background-color: white;
	/*Typography stuff*/
	color: black;
}

#heya {
	/*Typography stuff*/
	color: #1a1a20;
}

.wrap {
	/*Display stuff*/
	display: grid;
	grid-template-columns: 1fr 100px 5% 100px 5% 100px 1fr;
	grid-template-rows: 1fr 2em 1fr;
	/*Box model stuff*/
	margin: auto;
}

#arrow_up {
	/*Typography stuff*/
	color: #1a1a20;
}

.square {
	/*Box model stuff*/
	width: 100px;
	height: 100px;
	border-radius: 30%;
	background-color: #dcdcdc;
}

img {
	/*Box model stuff*/
	width: 100px;
	height: auto;
	border-radius: 50%;
	/*Manipulations stuff*/
	opacity: 0;
}

#square_top {
	/*Display stuff*/
	grid-column: 4;
	grid-row-start: 1;
}

#square_red {
	/*Display stuff*/
	grid-column: 2;
	grid-row-start: 3;
	/*Box model stuff*/
	background-color: #1a1a20;
}

#square_trigger {
	/*Display stuff*/
	grid-column: 4;
	grid-row-start: 3;
	/*Box model stuff*/
	border-radius: 50%;
	background-color: rgb(26, 26, 32);
}

#square_blue {
	/*Display stuff*/
	grid-column: 6;
	grid-row-start: 3;
	/*Box model stuff*/
	background-color: rgb(26, 26, 32);
}

#square_trigger:hover + #square_red {
	/*Manipulations stuff*/
	animation: gradient_red 0.8s linear infinite;
}

#square_trigger:hover ~ #square_blue {
	/*Manipulations stuff*/
	animation: gradient_blue 0.8s linear infinite;
}

#square_trigger:hover {
	/*Manipulations stuff*/
	animation: gradient_trigger 0.8s linear infinite;
}

@keyframes gradient_trigger {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0);
	}
	75% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0);
	}
}

@keyframes gradient_blue {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-180deg);
	}

	0%,
	11% {
		background-color: #66d2ff;
		box-shadow: 0px 0px 50px #66d2ff;
	}
	12%,
	18% {
		background-color: #353535;
		box-shadow: 0px 0px 3px #353535;
	}
	19%,
	31% {
		background-color: #66d2ff;
		box-shadow: 0px 0px 50px #66d2ff;
	}
	32%,
	38% {
		background-color: #353535;
		box-shadow: 0px 0px 3px #353535;
	}
	39%,
	50% {
		background-color: #66d2ff;
		box-shadow: 0px 0px 50px #66d2ff;
	}
	51%,
	100% {
		background-color: #353535;
		box-shadow: 0px 0px 3px #353535;
	}
}

@keyframes gradient_red {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}

	0%,
	50% {
		background-color: #353535;
		box-shadow: 0px 0px 3px #353535;
	}
	51%,
	62% {
		background-color: #ff3c2d;
		box-shadow: 0px 0px 50px #ff3c2d;
	}
	63%,
	69% {
		background-color: #353535;
		box-shadow: 0px 0px 3px #353535;
	}
	70%,
	81% {
		background-color: #ff3c2d;
		box-shadow: 0px 0px 50px #ff3c2d;
	}
	82%,
	88% {
		background-color: #353535;
		box-shadow: 0px 0px 3px #353535;
	}
	89%,
	100% {
		background-color: #ff3c2d;
		box-shadow: 0px 0px 50px #ff3c2d;
	}
}
